<app-header></app-header>
<p-blockUI [blocked]="loader"></p-blockUI>
<div class="container main">
    <p-progressSpinner *ngIf="loader" [style]="{position: 'absolute', top: '40%', left: '48%',width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    <button class="btn btn-primary" (click)="print()">Print</button>
    <form id="pdfGenerate" style="position: relative; width: 100%; float: left; font-size: 12px;">
        <div class="table-section" id="DivIdToPrint" style="width: 100%; float: left; border: 1px solid #000;">
           <div class="table-inner-sec">
              <div class="table-inner-content" style="width: 100%; float: left; text-align: center; border-bottom: 1px solid #000;">
                 <h1 style="font-size: 36px; font-weight: 800; margin-top: 0;">ONE O CRICKET</h1>
                 <p style="margin-bottom: 0;">SCF 62, Second Floor, Phase 11, Mohali, Punjab, 160062</p>
                 <p style="margin: 0 0 5px 0;"><strong>E-mail:</strong> contactoneocricket@gmail.com, <strong>Mobile:</strong> +91-79735 31671 </p>
              </div>
              <div class="address-sec" style="width: 100%; float: left;">
                 <ul style="margin: 0; padding: 5px 0; border-bottom: 1px solid #000; text-align: center; display: flex;justify-content: space-between;">
                    <li style="display: inline-block; width: 100%; max-width: 50%;"><b>GSTIN Number : </b><span class="gstin-number-data">{{invoiceDetails?.gstinNumber}}</span></li>
                    
                    <li style="display: inline-block; width: 100%; max-width: 50%;"><b>Invoice Serial Number : </b><span class="invoice_serial_number">{{ invoiceDetails?.invoiceSerialNumber }}</span></li>
                    
                    <li style="display: inline-block; width: 100%; max-width: 50%;"><b>Invoice Date : </b><span class="invoice-date">{{ invoiceDetails?.invoiceDate | date: 'dd-MMM-yyyy' }}</span></li>
                   
                 </ul>

                 <ul style="margin: 0; padding: 5px 0; border-bottom: 1px solid #000; text-align: center; display: flex;justify-content: space-between;">
                  <li style="display: inline-block; width: 100%; max-width: 50%;"><b>Shipping Company : </b><span class="gstin-number-data">{{invoiceDetails?.shippingCompany}}</span></li>
                  
                  <li style="display: inline-block; width: 100%; max-width: 50%;"><b>Tracking Number : </b><span class="invoice_serial_number">{{ invoiceDetails?.trackingNumber }}</span></li>
                  
                  <li style="display: inline-block; width: 100%; max-width: 50%;"><b>AD Code : </b><span class="invoice-date">{{ invoiceDetails?.adCode }}</span></li>
                 
                  </ul>
                 <div class="Detail-sec" style="width: 50%; float: left;">
                    <p style="margin: 0; text-align: center; border-bottom: 1px solid #000; font-weight: bold;">Shipped To</p>
                 </div>
                 <div class="Detail-sec" style="width: 50%; float: left;">
                  <p style="margin: 0; text-align: center; border-bottom: 1px solid #000; font-weight: bold;">Billed To</p>
               </div>
              </div>

              <div class="address-inner-sec-new">
                 <table style="width: 100%;">
                    <tbody>
              <tr class="address-inner-sec" style="width: 100%; float: left;">
                 <td class="address-left-right address-left-sec" style="width: 50%; float: left;border-right: 1px solid #000;padding-bottom: 15px;">
                    <ul class="name-address-sec" style="margin: 0; padding: 10px 5px; ">
                       <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Name: </strong></span><span class="store_name">{{ invoiceDetails?.name | titlecase }}</span></li>
                       <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Phone: </strong></span><span class="store_address">{{ invoiceDetails?.phone }}</span> </li>
                       <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Address: </strong></span><span class="store_address">{{ invoiceDetails?.address | titlecase }}</span> </li>
                       <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>State: </strong></span><span class="store_address">{{ invoiceDetails?.state | titlecase }}</span> </li>
                       <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Postal Code: </strong></span><span class="store_address">{{ invoiceDetails?.pincode }}</span> </li>
                       <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Country</strong></span><span class="store_address">{{ invoiceDetails?.country | titlecase }}</span> </li>
                       <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Payment: </strong></span><span class="store_address">{{ invoiceDetails?.paymentMethod | titlecase }}</span> </li>
                       
                    </ul>
                 </td>
                 <td class="address-left-right address-right-sec" style="width: 49.9%; float: left;">
                     <ul class="name-address-sec" style="margin: 0; padding: 10px 5px; ">
                        <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Name: </strong></span><span class="store_name">{{ invoiceDetails?.billingName | titlecase }}</span></li>
                        <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Phone: </strong></span><span class="store_address">{{ invoiceDetails?.billingPhone }}</span> </li>
                        <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Address: </strong></span><span class="store_address">{{ invoiceDetails?.billingAddress | titlecase }}</span> </li>
                        <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>State: </strong></span><span class="store_address">{{ invoiceDetails?.billingState | titlecase }}</span> </li>
                        <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Postal Code: </strong></span><span class="store_address">{{ invoiceDetails?.billingPincode }}</span> </li>
                        <li style="list-style: none; position: relative; padding-left: 100px"><span style="position: absolute;top: 0; left: 0;"><strong>Country: </strong></span><span class="store_address">{{ invoiceDetails?.billingCountry | titlecase }}</span> </li>
                        
                     </ul>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>
              <div class="table-section-new">
                 <table style="width: 100%; border-collapse: collapse;">
                    <thead>
                       <tr>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">S NO.</th>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">Description of Goods</th>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">HSN Code</th>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">Qty</th>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">Uom</th>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">Rate</th>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">Discount</th>
                          <th style="background: #333; color: white; font-weight: bold; padding: 6px; border: 1px solid #ccc; text-align: left;">Net Amount</th>
                       </tr>
                    </thead>
                    <tbody class="database-data">
                     <tr *ngFor="let data of invoiceDetails?.productDetails; let i=index">
                        <td class="trname" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{i+1}}</td>
                        <td class="pname" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{ data?.productName }}</td>
                        <td class="hsn" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{ data?.hsn }}</td>
                        <td class="pquantity" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{ data?.quantity }}</td>
                        <td class="pquantity" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{ data?.uom }}</td>
                        <td class="pprice" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{ data?.rate }}</td>
                        <td class="discount" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{ data?.discount }}%</td>
                        <td class="netAmount" style="padding: 6px; border: 1px solid #ccc; text-align: left;">{{ data?.netAmount }}</td>
                     </tr>
                    </tbody>
                 </table>
              </div>
              <div class="remarks-total" style="width: 100%; float: left;">
                 <div class="remarks-sec-total-sec-inner" style="width: 100%; float: left; display: flex; border-bottom: 1px solid #000;">
                    <div class="remarks-sec" style="width: 70%; float: left;border-right: 1px solid #000; padding: 15px;">
                       <!-- <p style="margin: 0;"><span style="margin-right: 15px;">invoice Value (In Word)</span> Rs.one Lac Sixty Six Thousand Three Hunderd Nine only</p> -->
                       <p class="remarks-content"><b>REMARKS</b></p>
                       <ul style="padding: 0; text-align: center;">
                          
                       </ul>
                    </div>
                    <div class="total-sec" style="width: 30%; float: left; padding: 10px 0">
                        <div class="total-inner-sec" style="display: flex; justify-content: space-between; padding: 5px 15px 5px; text-transform: uppercase;">
                          <div style="width: 50%">
                             total
                          </div>
                          <div style="width: 20%">
                             {{ invoiceDetails?.currency }}
                          </div>
                          <div style="width: 30%">{{ totalAmount() }}</div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="term-condition" style="width: 100%; float: left; display: flex; ">
                 <div class="title-term-mix" style="width: 70%; float: left;border-right: 1px solid #000;">
                    <div class="title-term-condition" style="width: 100%; float: left;">
                       <ul style="margin:0; padding: 5px 15px; border-bottom: 1px solid #000; width: 100%;  float: left; box-sizing: border-box;">
                          <li style="display: inline-block; list-style: none; width: 78%;float: left;">Term & Condition</li>
                          <li style="display: inline-block; list-style: none; width: 22%; float: left;">Bank Detail</li>
                       </ul>
                    </div>
                    <div class="term-condition-inner" style="width: 100%; float: left;">
                       <ol class="term-condition-inner-left" style="padding: 5px 0px 0px 30px; margin: 0; width: 67%; float: left;">
                          <li>Goods once sold will not be taken back</li>
                          <li>All Disputes Subject to Punjab Jurisdiction</li>
                       </ol>
                       <ul class="term-condition-inner-right" style="float: left; padding: 5px 0; width: auto; margin: 0;">
                          <li style="list-style: none;"><span>BANK:</span> IndusInd Bank</li>
                          <li style="list-style: none;"><span>BRANCH:</span> Phase 11, Mohali</li>
                          <li style="list-style: none;"><span>A/C NO:</span> 201004199251 </li>
                          <li style="list-style: none;"><span>IFSC:</span> INDB0000432</li>
                       </ul>
                    </div>
                 </div>
                 <div class="signatory" style="width: 30%; float: left; padding: 10px 0;">
                    <ul style="padding: 5px 15px; font-size: 12px; text-align: center; margin-bottom: 0;">
                       <li style="list-style: none;padding-bottom: 40px;">FOR ONE O CRICKET</li>
                       <li style="list-style: none;">AUTHORISED SIGNATORY</li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>   
     </form>
</div>