<app-header></app-header>
<p-blockUI [blocked]="loader"></p-blockUI>
<div class="container main">
  <p-toast position="bottom-center"></p-toast>
  <p-progressSpinner *ngIf="loader" [style]="{position: 'absolute', top: '40%', left: '48%',width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    <div class="float-right">
        <button class="btn btn-link" routerLink="/international/create">Create Bill</button>
    </div>
    <br><br>
    <table class="table table-striped table-sm table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">Invoice number</th>
            <th scope="col">Invoice Date</th>
            <th scope="col">State</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of invoiceList">
            <th scope="row">{{ data?.invoiceSerialNumber }}</th>
            <td>{{data?.invoiceDate | date: 'dd-MMM-yyyy'}}</td>
            <td>{{ data?.state | titlecase }}</td>
            <td>{{ data?.name | titlecase }}</td>
            <td>
                <button class="btn btn-link" routerLink="/international/edit/{{data?._id}}"><i class="pi pi-pencil text-primary"></i></button>
                <button class="btn btn-link" routerLink="/international/view/{{data?._id}}"><i class="pi pi-eye text-success"></i></button>
                <button class="btn btn-link" disabled><i class="pi pi-print text-secondary"></i></button>
                <button class="btn btn-link" (click)="deleteInvoice(data?._id)" disabled><i class="pi pi-trash text-danger"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>