<app-header></app-header>
<p-blockUI [blocked]="loader"></p-blockUI>
<div class="container main">
    <p-toast position="bottom-center"></p-toast>
    <p-progressSpinner *ngIf="loader" [style]="{position: 'absolute', top: '40%', left: '48%',width: '50px', height: '50px', 'z-index': '999'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    <div class="float-left">
        <button class="btn btn-link" routerLink="/domestic"><p class="pi pi-arrow-left"></button>
    </div>
    <br><br><br>
    <form [formGroup]="billingForm" autocomplete="off">
        <div class="card">
            <div class="card-header">
                Basic Details
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="state">State<sup class="text-danger">*</sup></label>
                        <select class="form-control" formControlName="state" name="state">
                            <option value="">Select State</option>
                            <option *ngFor="let data of states " value="{{data?.name}}">{{ data?.name }}</option>
                        </select>
                        <span *ngIf="billingForm.controls['state'].dirty && billingForm.controls['state'].invalid && billingForm.get('state').hasError('required')" class="text-danger">Field is required</span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="gstinNumber">GSTIN Number<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" [readOnly]="true" formControlName="gstinNumber" id="gstinNumber">
                        <span *ngIf="billingForm.controls['gstinNumber'].dirty && billingForm.controls['gstinNumber'].invalid && billingForm.get('gstinNumber').hasError('required')" class="text-danger">Field is required</span>
                    </div>
        
                    <div class="form-group col-md-3">
                        <label for="invoiceSerialNumber">Invoice serial Number<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="invoiceSerialNumber" id="invoiceSerialNumber">
                        <span *ngIf="billingForm.controls['invoiceSerialNumber'].dirty && billingForm.controls['invoiceSerialNumber'].invalid && billingForm.get('invoiceSerialNumber').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="invoiceDate">Invoice Date<sup class="text-danger">*</sup></label>
                        <p-calendar inputId="invoiceDate" formControlName="invoiceDate" name="invoiceDate" dateFormat="dd/mm/yy"></p-calendar>
                        <span *ngIf="billingForm.controls['invoiceDate'].dirty && billingForm.controls['invoiceDate'].invalid && billingForm.get('invoiceDate').hasError('required')" class="text-danger">Field is required</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="paymentMethod">Payment Method<sup class="text-danger">*</sup></label>
                        <select  class="form-control" formControlName="paymentMethod" id="paymentMethod">
                            <option value="">Select Payment Type</option>
                            <option value="Cash On Delivery">Cash On Delivery</option>
                            <option value="Cash">Cash</option>
                            <option value="Bank Transfer">Bank Transfer</option>
                            <option value="Razorpay">Razorpay</option>
                            <option value="CCAvenue">CCAvenue</option>
                        </select>
                        <span *ngIf="billingForm.controls['paymentMethod'].dirty && billingForm.controls['paymentMethod'].invalid && billingForm.get('paymentMethod').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="adCode">AD Code<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" [readOnly]="true" formControlName="adCode" name="adCode" />
                        <span *ngIf="billingForm.controls['adCode'].dirty && billingForm.controls['adCode'].invalid && billingForm.get('adCode').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="shippingCompany">Shipping Company<sup class="text-danger">*</sup></label>
                        <select class="form-control" formControlName="shippingCompany" name="shippingCompany">
                            <option value="">Select Shipping Company</option>
                            <option value="DHL">DHL</option>
                            <option value="FedEx">FedEx</option>
                            <option value="DTDC">DTDC</option>
                            <option value="Trackon">Trackon</option>
                            <option value="Bluedart">Bluedart</option>
                            <option value="Skynet">Skynet</option>
                            <option value="Aramex">Aramex</option>
                            <option value="TNT">TNT</option>
                        </select>
                        <span *ngIf="billingForm.controls['shippingCompany'].dirty && billingForm.controls['shippingCompany'].invalid && billingForm.get('shippingCompany').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="trackingNumber">Tracking Number</label>
                        <input type="text" class="form-control" formControlName="trackingNumber" name="trackingNumber" />
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Shipping Address
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="sName">Name<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="name" class="form-control" id="sName">
                        <span *ngIf="billingForm.controls['name'].dirty && billingForm.controls['name'].invalid && billingForm.get('name').hasError('required')" class="text-danger">Field is required</span>
                    </div>
    
                    <div class="form-group col-md-4">
                        <label for="sPhone">Phone Number<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="phone" class="form-control" id="sPhone">
                        <span *ngIf="billingForm.controls['phone'].dirty && billingForm.controls['phone'].invalid && billingForm.get('phone').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="customerGstinNumber">GSTIN Number</label>
                        <input type="text" class="form-control" formControlName="customerGstinNumber" id="customerGstinNumber">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="sAddress">Address<sup class="text-danger">*</sup></label>
                        <textarea type="text" formControlName="address" class="form-control" id="sAddress" rows="1"></textarea>
                        <span *ngIf="billingForm.controls['address'].dirty && billingForm.controls['address'].invalid && billingForm.get('address').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="bPincode">Pincode<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="pincode" class="form-control" id="bPincode" rows="1" />
                        <span *ngIf="billingForm.controls['pincode'].dirty && billingForm.controls['pincode'].invalid && billingForm.get('pincode').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="sCountry">Country<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="country" class="form-control" id="sCountry" />
                        <span *ngIf="billingForm.controls['country'].dirty && billingForm.controls['country'].invalid && billingForm.get('country').hasError('required')" class="text-danger">Field is required</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <div class="form-check">
                    <input (change)="isAddressSameOnChange()" type="checkbox" formControlName="isAddressSame" class="form-check-input" id="isAddressSame">
                    <label class="form-check-label" for="isAddressSame">Billed to same as shipped to</label>
                </div>
            </div>
        </div>
        <br>
        <div class="card" *ngIf="!billingForm.get('isAddressSame').value">
            <div class="card-header">
                Billing Address
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="bName">Name<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="billingName" class="form-control" id="bName">
                        <span *ngIf="billingForm.controls['billingName'].dirty && billingForm.controls['billingName'].invalid && billingForm.get('billingName').hasError('required')" class="text-danger">Field is required</span>
                    </div>
    
                    <div class="form-group col-md-4">
                        <label for="bPhone">Phone Number<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="billingPhone" class="form-control" id="bPhone">
                        <span *ngIf="billingForm.controls['billingPhone'].dirty && billingForm.controls['billingPhone'].invalid && billingForm.get('billingPhone').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="bPincode">Pincode<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="billingPincode" class="form-control" id="bPincode" rows="1" />
                        <span *ngIf="billingForm.controls['billingPincode'].dirty && billingForm.controls['billingPincode'].invalid && billingForm.get('billingPincode').hasError('required')" class="text-danger">Field is required</span>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="bAddress">Address<sup class="text-danger">*</sup></label>
                        <textarea type="text" formControlName="billingAddress" class="form-control" id="bAddress" rows="1"></textarea>
                        <span *ngIf="billingForm.controls['billingAddress'].dirty && billingForm.controls['billingAddress'].invalid && billingForm.get('billingAddress').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="bState">State<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="billingState" class="form-control" id="bState" />
                        <span *ngIf="billingForm.controls['billingState'].dirty && billingForm.controls['billingState'].invalid && billingForm.get('billingState').hasError('required')" class="text-danger">Field is required</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="bCountry">Country<sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="billingCountry" class="form-control" id="bCountry" />
                        <span *ngIf="billingForm.controls['billingCountry'].dirty && billingForm.controls['billingCountry'].invalid && billingForm.get('billingCountry').hasError('required')" class="text-danger">Field is required</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card" formArrayName="productDetails">
            <div class="card-header">
                Product Details
                <button class="btn btn-primary float-right" (click)="addProductDetailsForm()" title="Add more"><i class="pi pi-plus-circle"></i></button>
            </div>
            <div class="card-body" *ngFor="let data of billingForm.get('productDetails')['controls']; let i=index">
                <ng-container [formGroupName]="i">
                    <div *ngIf="i != 0" class="form-row float-right">
                            <button *ngIf="i != 0" class="btn btn-danger" (click)="removeProductDetailsForm(i)" title="Remove"><i class="pi pi-times-circle"></i></button>
                    </div><br *ngIf="i != 0"><br *ngIf="i != 0">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" formControlName="productName">
                        </div>
        
                        <div class="form-group col-md-4">
                            <label for="hsn">HSN</label>
                            <select formControlName="hsn" class="form-control">
                                <option value="">Select HSN</option>
                                <option value="95069920">95069920 (Cricket bat)</option>
                                <option value="95066920">95066920 (Ball)</option>
                                <option value="42032110">42032110 (Cricket Gloves)</option>
                                <option value="42022190">42022190 (Kit Bags)</option>
                                <option value="95069990">95069990 (Cricket Accessories)</option>
                                <option value="95069990">95069990 (Thigh, Chest Guard)</option>
                                <option value="65061090">65061090 (Cricket Helmet)</option>
                                <option value="64041110">64041110 (Cricket Shoes)</option>
                                <option value="61071210">61071210 (Supporter/Sleeves)</option>
                                <option value="61032300">61032300 (Cricket Trouser)</option>
                                <option value="61051090">61051090 (Cricket Shirt)</option>
                                <option value="61121200">61121200 (Shirt, Pant Combo)</option>
                                <option value="65040000">65040000 (Cap/Hat)</option>
                            </select>
                        </div>
        
                        <div class="form-group col-md-3">
                            <label for="quantity">Quantity</label>
                            <input type="text" formControlName="quantity" (change)="calculateDiscount($event)" name="quantity" class="form-control" id="quantity">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="uom{{i}}">UOM</label>
                            <select formControlName="uom" name="uom" class="form-control" id="uom{{i}}">
                                <option value="">Select UOM</option>
                                <option value="pcs">PCS</option>
                                <option value="pair">PAIR</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="rate">Rate(MRP)</label>
                            <input type="text" class="form-control" (change)="calculateDiscount($event)" name="rate" formControlName="rate" id="rate">
                        </div>
        
                        <div class="form-group col-md-6">
                            <label for="discount{{i}}">Discount %</label>
                            <input type="text" class="form-control" (change)="calculateDiscount($event)" formControlName="discount" name="discount" id="discount{{i}}">
                        </div>
        
                        <div class="form-group col-md-3">
                            <label for="tax{{i}}">Tax</label>
                            <select class="form-control" (change)="calculateDiscount($event)" formControlName="tax" id="tax{{i}}">
                                <option value="0">Select tax</option>
                                <option value="1.05">5%</option>
                                <option value="1.12">12%</option>
                                <option value="1.18">18%</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="taxableValue">Taxable Value</label>
                            <input type="text" class="form-control" (change)="calculateDiscount($event)" formControlName="taxableValue" [readOnly]="true" name="taxableValue" id="taxableValue">
                        </div>
        
                        <div class="form-group col-md-6">
                            <label for="taxAmount">Tax Amount</label>
                            <input type="text" class="form-control" (change)="calculateDiscount($event)" formControlName="taxAmount" [readOnly]="true" name="taxAmount" id="taxAmount">
                        </div>
        
                        <div class="form-group col-md-3">
                            <label for="netAmount">Net Amount</label>
                            <input type="text" class="form-control" formControlName="netAmount" [readOnly]="true" name="netAmount" id="netAmount">
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <br>
        <div class="float-right">
            <button class="btn btn-danger" routerLink="/domestic" (click)="billingForm.reset()">Cancel</button>&nbsp;&nbsp;
            <button class="btn btn-primary" (click)="addBill()">Create Bill</button>
        </div>
        <br>
    </form>
</div>