<app-header></app-header>
<div class="container main">
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/domestic">Domestic Invoices</button> <br>
        
        <button type="button" class="btn btn-info btn-lg btn-block" routerLink="/international">International Invoices</button>
</div>